h1{
  text-align: center;
  font-style: normal;
  font-size: medium;
  font-weight: 700;
  font: bold;
}

.progress-bar-left{
  width:40%;
  height: 4px;
  background-color: #bfe098;
  border-radius: 10px;
  margin-left: 2%;
}
.progress-bar-right{
  width:40%;
  height: 4px;
  background-color: #bfe098;
  border-radius: 10px;
  margin-left: 45%;
}
.progress{
  height: 100%;
  background-color: #4caf50;
  border-radius: 10px;
}

.progress-label{
  margin-left:1%;
  font-size: 10px;
  font-style: normal;
  color: #4caf50;
}

.progress-label-2{
  margin-left:5%;
  font-size: 10px;
  font-style: normal;
  color: #4caf50;
}

.box {
  background-color: white;
  border:solid 1px white ;
  width: 63%;
  top: 30px;
  margin-left: 18%;
  box-shadow: 0 0 15px gray;
}

.percent-1{
  margin-left:35%;
  color: #4caf50;
  font-size: 10px;
}

.percent-2{
  margin-left:35%;
  color: #4caf50;
  font-size: 10px;
}
