

  <h1>Professional Skills</h1>
  <div class="box">
    <div class="container-group">
    <div class="label-text">
        <label  class="progress-label" >HTML</label>
        <label class="progress-label-2">80%</label>
      </div>
      <div class="progress-bar-left">
      <div class="progress" style ="width: 80%;"></div>
      </div>
    <p></p>
    <div class="label-text">
       <label class="progress-label">JAVASCRIPT</label>
       <label class="progress-label-2">60%</label>
    </div>

       <div class="progress-bar-left">
       <div class="progress" style ="width: 60%;"></div>
       </div>
    <p></p>
    <div class="label-text">
       <label class="progress-label">BOOTSTRAP</label>
       <label class="progress-label-2">75%</label>
    </div>

       <div class="progress-bar-left">
       <div class="progress" style ="width: 75%;"></div>
      </div>
  </div>

  <div class="container-group">
    <div class="label-text">
        <label  class="progress-label" >CSS</label>
        <label class="progress-label-2">75%</label>
      </div>
      <div class="progress-bar-left">
      <div class="progress" style ="width: 75%;"></div>
      </div>
    <p></p>
    <div class="label-text">
       <label class="progress-label">SASS</label>
       <label class="progress-label-2">60%</label>
    </div>

       <div class="progress-bar-left">
       <div class="progress" style ="width: 60%;"></div>
       </div>
    <p></p>
    <div class="label-text">
       <label class="progress-label">PHOTOSHOP</label>
       <label class="progress-label-2">70%</label>
    </div>

       <div class="progress-bar-left">
       <div class="progress" style ="width: 70%;"></div>
      </div>
  </div>
</div>
<P></P>


