

  <h1>Professional Skills</h1>
  <div class="box">
    <p></p>
    <span class="progress-label">HTML</span>
    <span class="percent-1">80%</span>
    <span class="progress-label-2">CSS</span>
    <span class="percent-2">75%</span>

  <div class="progress-bar-left">
    <div class="progress" style ="width: 80%;"></div>
  </div>
  <div class="progress-bar-right">
    <div class="progress" style ="width:75%;"></div>
  </div>
  <p></p>
  <p></p>
  <span class="progress-label">JAVASCRIPT</span>
  <span class="percent-1">60%</span>
  <span class="progress-label-2">SASS</span>
  <span class="percent-2">60%</span>

<div class="progress-bar-left">
  <div class="progress" style ="width: 60%;"></div>
</div>
<div class="progress-bar-right">
  <div class="progress" style ="width:60%;"></div>
</div>
<p></p>
<p></p>
<span class="progress-label">BOOTSTRAP</span>
<span class="percent-1">75%</span>
<span class="progress-label-2">PHOTOSHOP</span>
<span class="percent-2">70%</span>

<div class="progress-bar-left">
<div class="progress" style ="width: 75%;"></div>
</div>
<div class="progress-bar-right">
<div class="progress" style ="width:70%;"></div>
</div>
<P></P>
<p></p>
</div>
